@{
    
}

<!DOCTYPE html>
<html style="margin-top: 0 !important" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Freshness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Contenido/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Contenido/responsive.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Contenido/barraredes.css">

    <script src="~/Scripts/jquery.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar">
</body>
</html>
