@{
    
}

<!DOCTYPE html>
<html style="margin-top: 0 !important" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Freshness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Contenido/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Contenido/responsive.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Contenido/barraredes.css">

    <script src="~/Scripts/jquery.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar">
    <header id="header">
        <div class="header-holder">
            <div class="container hidden-phone">
                <div class="brow">
                    <div class="brick1 logo_container">
                        <a href="#" class="nav-item clearfix">
                            <div class="nav-hover"></div>
                            <h1 class="logo">Freshness</h1>
                        </a>
                    </div>
                    <div class="brick1 transparent"></div>
                </div>
                <div class="brow">
                    <div class="slogan brick3 boffset1 transparent text-right">
                        <div class="inner">
                            <h1>Freshness tu mejor alternativa</h1>
                            <p>
                                Tu mejor elección en moda, descuentos y promociones <br>
                                las encontrarás en nuestra franquicia<br>
                                Pensamos por y para el cliente.
                            </p>
                        </div>

                    </div>
                    <div class="brick1 odd">
                        <a href="#services" class="nav-item">
                            <div class="nav-hover"></div>
                            <i class="li_bulb"></i>
                            <span>Servicios</span>
                        </a>
                    </div>
                    <div class="brick1 thumb">
                        <div class="nav-item flipX">
                            <img class="img1" src="~/Imagenes/Inicio/ava2.jpg" alt="">
                            <img class="img2" src="~/Imagenes/Inicio/blog2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="brow">
                    <div class="brick1 thumb">
                        <div class="nav-item flipX">
                            <img class="img1" src="~/Imagenes/Inicio/faldacortajeans.jpg" alt="">
                            <img class="img2" src="~/Imagenes/Inicio/pumahombre.jpg" alt="">
                        </div>
                    </div>
                    <div class="brick1 odd">
                        <a href="#portfolio" class="nav-item">
                            <div class="nav-hover"></div>
                            <i class="li_photo"></i>
                            <span>Productos</span>
                        </a>
                    </div>
                    <div class="brick1">
                        <a href="#about-us" class="nav-item">
                            <div class="nav-hover"></div>
                            <i class="li_bubble"></i>
                            <span>Acerca de nosotros</span>
                        </a>
                    </div>
                    <div class="brick1 thumb">
                        <div class="nav-item flipY">
                            <img class="img1" src="~/Imagenes/Inicio/niñassonriendo.jpg" alt="">
                            <img class="img2" src="~/Imagenes/Inicio/hobretsm.jpg" alt="">
                        </div>
                    </div>
                    <div class="brick1 thumb">
                        <div class="nav-item flipX">
                            <img class="img1" src="~/Imagenes/Inicio/sudafox.jpg" alt="">
                            <img class="img2" src="~/Imagenes/Inicio/niño.png" alt="">
                        </div>
                    </div>
                    <div class="brick1">
                        <a href="#blog" class="nav-item">
                            <div class="nav-hover"></div>
                            <i class="li_note"></i>
                            <span>Blog</span>
                        </a>
                    </div>
                </div>
                <div class="brow">
                    <div class="brick1 boffset2 thumb">
                        <div class="nav-item flipY">
                            <img class="img1" src="~/Imagenes/Inicio/sombref.jpg" alt="">
                            <img class="img2" src="~/Imagenes/Inicio/bluza2.jpg" alt="">
                        </div>
                    </div>
                    <div class="brick1 thumb">
                        <div class="nav-item flipY">
                            <img class="img1" src="~/Imagenes/Inicio/elite.jpg" alt="">
                            <img class="img2" src="~/Imagenes/Inicio/bralet.jpg" alt="">
                        </div>
                    </div>
                    <div class="brick1 odd">
                        <a href="#contact" class="nav-item">
                            <div class="nav-hover"></div>
                            <i class="li_paperplane"></i>
                            <span>Contáctanos</span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="container visible-phone">
                <div class="brick1 logo_container">
                    <a href="#" class="nav-item clearfix">
                        <div class="nav-hover"></div>
                        <h1 class="logo">Freshness</h1>
                    </a>
                </div>
                <div class="brick1 odd">
                    <a href="#services" class="nav-item">
                        <div class="nav-hover"></div>
                        <i class="li_bulb"></i>
                        <span>Servicios</span>
                    </a>
                </div>
                <div class="brick1 odd">
                    <a href="#portfolio" class="nav-item">
                        <div class="nav-hover"></div>
                        <i class="li_photo"></i>
                        <span>Productos</span>
                    </a>
                </div>
                <div class="brick1">
                    <a href="#about-us" class="nav-item">
                        <div class="nav-hover"></div>
                        <i class="li_bubble"></i>
                        <span>Acerca de nosotros</span>
                    </a>
                </div>
                <div class="brick1">
                    <a href="#blog" class="nav-item">
                        <div class="nav-hover"></div>
                        <i class="li_note"></i>
                        <span>Blog</span>
                    </a>
                </div>
                <div class="brick1 odd">
                    <a href="#contact" class="nav-item">
                        <div class="nav-hover"></div>
                        <i class="li_paperplane"></i>
                        <span>Contáctanos</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    
    <!--Inicio del menú-->
    <div id="navbar" class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="">
                            <a href="#services"><i class="li_bulb"></i>Servicios</a>
                        </li>
                        <li class="">
                            <a href="#portfolio"><i class="li_photo"></i>Productos</a>
                        </li>
                        <li class="">
                            <a href="#about-us"><i class="li_bubble"></i>Acerca de nosotros</a>
                        </li>
                        <li class="">
                            <a href="#blog"><i class="li_note"></i>Blog</a>
                        </li>
                        <li class="">
                            <a href="#contact"><i class="li_paperplane"></i>Contáctanos</a>
                        </li>
                        <li class="">
                            <a href=""><i class="li_user"></i>Iniciar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    <!-- fin del menu -->
    
    <!--Inicio de los servicios-->
    <div id="services" class="section">
        <div class="container">
            <div class="hero">
                <h1>Freshness es responsable, puntual &amp; atento con usted.</h1>
                <p>Esperemos le guste nuestro novedoso diseño</p>
            </div>
            <div class="brow sev_list">
                <div class="brick2">
                    <i class="li_pen"></i>
                    <h2>Avisos</h2>
                    <p>Mantendremos informados a toda la comunidad de los sucesos próximos de freshness.</p>
                </div>
                <div class="brick2">
                    <i class="li_lab"></i>
                    <h2>Mejoras</h2>
                    <p>A medida que transcurra el tiempo innovaremos nuestro diseño.</p>
                </div>
                <div class="brick2">
                    <i class="li_settings"></i>
                    <h2>Montaje</h2>
                    <p>Construiremos nuevas secciones para la satisfacción de todos los usuarios.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Fin de los servicios-->

    <!--Inicio de productos muestra-->
    <div id="portfolio" class="section">
        <div class="container">
            <div class="hero">
                <h1>PRODUCTOS</h1>
                <p>Mira todos los productos que te podemos ofrecer.</p>
            </div>
            <ul class="filter clearfix">
                <li><a href="#" class="active" data-filter="*">Todos</a></li>
                <li><a href="#" data-filter=".living">Hombre</a></li>
                <li><a href="#" data-filter=".kitchen">Mujer</a></li>
                <li><a href="#" data-filter=".bath">Niños</a></li>
            </ul>
            <!-- Modal -->
            <div id="modalbox" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="modal-body">
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="~/Imagenes/Productos Muestra/Camiseta1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="~/Imagenes/Productos Muestra/Camiseta2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="~/Imagenes/Productos Muestra/camisalazio.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                    <h3>Freshness y su proyecto</h3>
                    <p>
                        Establecemos equidad, transparencia y responsabilidad en el servicio que ofrecemos a la comunidad.
                    </p>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <ul class="isotope clearfix">
                <li class="item brick1 living kitchen">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="~/Imagenes/Productos Muestra/hym.jpg" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 1</h4>
                            <p>Camisa</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 kitchen living">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="~/Imagenes/Productos Muestra/Camisetaazul.jpg" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 2 </h4>
                            <p>Pantalón</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 bed">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="~/Imagenes/Productos Muestra/Camiseta3.jpg" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 3</h4>
                            <p>Camisa</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 living bath bed">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="~/Imagenes/Productos Muestra/camisaverde.jpg" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 4 </h4>
                            <p>Camisa</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 kitchen living">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="~/Imagenes/Productos Muestra/ccolombia.jpg" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 5</h4>
                            <p>Buso</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 bath living">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="assets/img/pf6.png" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 6</h4>
                            <p>Pantaloneta</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 bed bath">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="assets/img/pf7.png" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 8</h4>
                            <p>Camisa</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 bath living kitchen">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="assets/img/pf8.png" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 9</h4>
                            <p>Pantalón</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 living bath">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="assets/img/pf9.png" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>
                                Muestra 10 </h4>
                                <p>Pantaloneta</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 kitchen">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="assets/img/pf10.png" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 11</h4>
                            <p>Camisa</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 bath">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="assets/img/pf11.png" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 12</h4>
                            <p>Camisa</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 living">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="assets/img/pf12.png" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 13</h4>
                            <p>Pantaloneta</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 bed">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="assets/img/pf13.png" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muesra 14</h4>
                            <p>Chaqueta</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 living bed">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="assets/img/pf14.png" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 15</h4>
                            <p>Chaqueta</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 bed living">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="assets/img/pf15.png" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 16</h4>
                            <p>Camisa</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 bath living">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="assets/img/pf16.png" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 17</h4>
                            <p>Camisa</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 living bath">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="assets/img/pf17.png" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 18</h4>
                            <p>Pantalon</p>
                        </div>
                    </a>
                </li>
                <li class="item brick1 kitchen">
                    <a href="#modalbox" data-toggle="modal">
                        <img src="assets/img/pf18.png" alt="Portfolio1">
                        <div class="hover">
                            <img src="~/Imagenes/ico_search.png" alt="">
                            <h4>Muestra 19</h4>
                            <p>Pantalon</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="purchase" class="divider section">
        <div class="bg-holder">
            <div class="container">
                <div class="hero">
                    <h1>Una gran comunidad dispuesta a darte varias posibilidades</h1>
                    <p>
                        <button class="btn btn-large  " type="button"><div class="nav-hover"></div>Compra ahora</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--Fin de productos muestra-->
    
    <!--Inicio Acerca de nosotros-->
        <div class="our-team row">
                <div class="span6">
                    <div class="team">
                        <div class="ava">
                            <img src="~/Imagenes/Miembros/MauricioG.jpg" alt="team 1">
                        </div>
                        <div class="info">
                            <h4 class="name">Mauricio Galvis Rodriguez<small> ADSI</small></h4>
                            <p align="justify">Mauricio Galvis Rodriguez es una persona cuya capacidad de innovación y análisis es la indicada para pertenecer al grupo de alta calidad de desarrollo de Freshness.</p>
                        </div>
                        <div class="social">
                            <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="team">
                        <div class="ava">
                            <img src="~/Imagenes/Miembros/DanielH.jpg" alt="team 1">
                        </div>
                        <div class="info">
                            <h4 class="name">Daniel Herrera Parra<small> ADSI</small></h4>
                            <p align="justify">Daniel Herrera Parra es una persona cuya capacidad de diseño y análisis es la indicada para pertenecer al grupo de alta calidad de desarrollo de Freshness.</p>
                        </div>
                        <div class="social">
                            <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                        </div>
                    </div>
                </div>
                </div>
            <div class="our-team row">
                <div class="span6">
                    <div class="team">
                        <div class="ava">
                            <img src="~/Imagenes/Miembros/SamuelV.jpg" alt="team 1">
                        </div>
                        <div class="info">
                            <h4 class="name">Cristian Samuel Vargas<small> ADSI</small></h4>
                            <p align="justify">Cristian Samuel Vargas es una persona cuya capacidad de diseño e innovación es la indicada para pertenecer al grupo de alta calidad de desarrollo de Freshness.</p>
                        </div>
                        <div class="social">
                            <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="team">
                        <div class="ava">
                            <img src="~/Imagenes/Miembros/MarioC.jpg" alt="team 1">
                        </div>
                        <div class="info">
                            <h4 class="name">Mario Alberto Campo<small> ADSI</small></h4>
                            <p align="justify">Mario Alberto Campo es una persona cuya capacidad de diseño y programación es la indicada para pertenecer al grupo de alta calidad de desarrollo de Freshness.</p>
                        </div>
                        <div class="social">
                            <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
    </div> 
    <!-- Fin acerca de nosotros  -->
    
    <!-- Inicio Blog -->
    <div id="blog" class="section">
        <div class="container">
            <div class="hero">
                <h1>Blog</h1>
                <p>Algunas cosas que te pueden interesar</p>
            </div>
            <div class="blog_container">
                <div class="row-full clearfix">
                    <div class="brick2"><iframe src="https://www.youtube.com/embed/4czsQZWgL4Q" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
                    <div class="brick1 odd">
                        <a href="http://www.sena.edu.co/sala-de-prensa/escrita/Paginas/Noticias/La-Ruta-cient%C3%ADfica-que-encuentran-los-jovenes-en-el-SENA.aspx" class="article" target="_blank">
                            <img src="~/Imagenes/Slider/blog1.jpg" alt="blog">
                            <div class="meta">
                                <h5><i class="icon-file-alt"></i> La "Ruta científica" que encuentra el SENA</h5>
                            </div>
                        </a>
                    </div>
                    <div class="brick1">
                        <a href="~/error404.html" class="article" target="_blank">
                            <img src="assets/img/blog1.png" alt="blog">
                            <div class="meta">
                                <h5><i class="icon-file-alt"></i> Prueba</h5>
                            </div>
                        </a>
                    </div>
                    <div class="brick2">
                        <a href="~/error404.html" class="article">
                            <img src="assets/img/blog3.png" alt="blog">
                            <div class="meta">
                                <h5><i class="icon-file-alt"></i> Prueba</h5>
                                <p class="desc">
                                    Prueba.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="brick1">
                        <a href="~/error404.html" class="article">
                            <img src="assets/img/blog4.png" alt="blog">
                            <div class="meta">
                                <h5><i class="icon-file-alt"></i> Prueba</h5>
                                <p class="desc">
                                    Prueba.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="brick1">
                        <a href="~/error404.html" class="article">
                            <img src="assets/img/blog5.png" alt="blog">
                            <div class="meta">
                                <h5><i class="icon-file-alt"></i> Prueba</h5>
                                <p class="desc">
                                    Prueba.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="brick2">
                        <a href="~/error404.html" class="article">
                            <img src="assets/img/blog6.png" alt="blog">
                            <div class="meta">
                                <h5><i class="icon-file-alt"></i> Prueba</h5>
                                <p class="desc">
                                    Prueba.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="brick1">
                        <a href="~/error404.html" class="article">
                            <img src="assets/img/blog7.png" alt="blog">
                            <div class="meta">
                                <h5><i class="icon-file-alt"></i> Prueba</h5>
                                <p class="desc">
                                   Prueba.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="brick1 odd">
                        <a href="~/error404.html" class="article">
                            <img src="assets/img/blog8.png" alt="blog">
                            <div class="meta">
                                <h5><i class="icon-file-alt"></i> Prueba</h5>
                                <p class="desc">
                                    Prueba.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row-full clearfix">
                    <div class="brick1">
                        <a href="~/error404.html" class="article">
                            <img src="assets/img/blog7.png" alt="blog">
                            <div class="meta">
                                <h5><i class="icon-file-alt"></i> Prueba</h5>
                                <p class="desc">
                                    Prueba.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="brick1">
                        <a href="~/error404.html" class="article">
                            <img src="assets/img/blog5.png" alt="blog">
                            <div class="meta">
                                <h5><i class="icon-file-alt"></i> Prueba</h5>
                                <p class="desc">
                                    Prueba.
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="brick2 odd">
                        <a href="~/error404.html" class="article">
                            <img src="assets/img/blog6.png" alt="blog">
                            <div class="meta">
                                <h5><i class="icon-file-alt"></i> Prueba</h5>
                                <p class="desc">
                                    Prueba.
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="brick2"><iframe src="https://www.youtube.com/embed/2r_Rlgz-vOY" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
                    <div class="brick1 odd">
                        <a href="~/error404.html" class="article">
                            <img src="assets/img/blog8.png" alt="blog">
                            <div class="meta">
                                <h5><i class="icon-file-alt"></i> Prueba</h5>
                                <p class="desc">
                                    Inscripciones 2015 SENA.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="brick1">
                        <a href="~/error404.html" class="article">
                            <img src="assets/img/blog7.png" alt="blog">
                            <div class="meta">
                                <h5><i class="icon-file-alt"></i> Prueba</h5>
                                <p class="desc">
                                    Prueba.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="brick2"><iframe src="https://www.youtube.com/embed/Z192MsBf2tk" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
                    <div class="brick1 odd"><img src="assets/img/blog2.png" alt="blog"></div>
                    <div class="brick1"><img src="assets/img/blog1.png" alt="blog"></div>
                </div>
            </div>
        </div>
    </div>	
    <!-- Fin Blog -->
    
    <!-- Testimonio -->
    <div id="testimonial" class="divider section">
        <div class="bg-holder">
            <div class="container">

                <!-- Bootstrap carousel -->

                <div id="msgs" class="carousel slide">
                    <h3>Testimonial</h3>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <img class="thumbnail" src="~/Imagenes/Slider/rafael.png" alt="">
                            <div class="msg">
                                <strong>Rafael Morelo Julio </strong>
                                <p>
                                    "No conseguía un sitio web de confianza hasta que un vecino me comentó acerca de Freshness<br>
                                    ahora la ropa para mi esposa y mis hijos es de alta calidad gracias a esta empresa."
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img class="thumbnail" src="~/Imagenes/Slider/luz.png" alt="">
                            <div class="msg">
                                <strong>Luz Acevedo </strong>
                                <p>
                                    "Muchas gracias Freshness, mi hija y yo estamos a gusto con tus prendas de alta calidad."
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img class="thumbnail" src="assets/img/ava1.jpg" alt="">
                            <div class="msg">
                                <strong>Anónimo</strong>
                                <p>
                                    " Proximámente..."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Testimonio -->
    
    <!-- Inicio Contacto -->
     <div id="contact" class="section">
        <div class="container">
            <div class="hero">
                <h1>Contacto</h1>
                <p>Para mayor información por favor contactarnos a través de los siguientes datos: </p>
            </div>
            <div class="row">
                <div class="span6">
                    <h3>Info. de contacto</h3>
                    <ul>
                        <li>Dirección: </li>
                        <li>Telefono: </li>
                        <li>Movil: </li>
                        <li>Email: </li>
                    </ul>
                    <div class="social">
                        <a href="#" class="facebook"><i class="icon-facebook"></i></a><a href="#" class="linkedin"><i class="icon-linkedin"></i></a>
                    </div>
                </div>
                <div class="span6">
                    <h3>Deja un comentario</h3>
                    <form action="" id="comment_form" class="comment_form">
                        <div class="row-fluid">
                            <div class="span6">
                                <input type="text" id="name" name="name" placeholder="Nombre*">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span8">
                                <textarea name="txt_message" id="txt_message" placeholder="Mensaje" cols="30" rows="10"></textarea>
                            </div>
                            <div class="span4">
                                <button class="btn " type="button" onclick="parent.location='mailto:cristiansamuel.2396@gmail.com'"><i class="li_paperplane"></i>Enviar Mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="map">
                <!-- <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=Times+Square,+Th%C3%A0nh+ph%E1%BB%91+New+York,+Ti%E1%BB%83u+bang+New+York,+Hoa+K%E1%BB%B3&amp;aq=0&amp;oq=time&amp;sll=37.0625,-95.677068&amp;sspn=49.357162,127.265625&amp;ie=UTF8&amp;hq=Times+Square,+Th%C3%A0nh+ph%E1%BB%91+New+York,+Ti%E1%BB%83u+bang+New+York,+Hoa+K%E1%BB%B3&amp;t=m&amp;ll=40.758882,-73.985176&amp;spn=0.016904,0.032015&amp;output=embed"></iframe> -->
                <img src="assets/img/map.png" alt="">
            </div>
        </div>
    </div>
    <!-- Fin Contacto -->
    
    <!-- Inicio Footer -->
    <footer id="footer">
        <div class="container">
            &copy; 2015 <a href="~/Empty.cshtml">Freshness</a>. Todos los derechos reservados. Diseñado por <a href="http://www.sena.edu.co/Paginas/Inicio.aspx" target="_blank">SENA</a> - Desarrollado por <a href="http://www.sena.edu.co/Paginas/Inicio.aspx" target="_blank">SENA</a>
        </div>
        <a href="#" id="btn_up">INICIO</a>
    </footer>
    <!-- Footer -->
    
    <!-- Bootstrap js -->
    <script src="~/Scripts/bootstrap-transition.js"></script>
    <script src="~/Scripts/bootstrap-modal.js"></script>
    <script src="~/Scripts/bootstrap-dropdown.js"></script>
    <script src="~/Scripts/bootstrap-carousel.js"></script>
    <script src="~/Scripts/bootstrap-collapse.js"></script>
    <script src="~/Scripts/bootstrap-scrollspy.js"></script>

    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/jquery.mousewheel.min.js"></script>
    <script src="~/Scripts/jquery.hoverdir.js"></script>
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    
</body>
</html>
