@{
    
}

<!DOCTYPE html>
<html style="margin-top: 0 !important" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Freshness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Contenido/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Contenido/responsive.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Contenido/barraredes.css">

    <script src="~/Scripts/jquery.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar">
    <header id="header">
        <div class="header-holder">
            <div class="container hidden-phone">
                <div class="brow">
                    <div class="brick1 logo_container">
                        <a href="#" class="nav-item clearfix">
                            <div class="nav-hover"></div>
                            <h1 class="logo">Freshness</h1>
                        </a>
                    </div>
                    <div class="brick1 transparent"></div>
                </div>
                <div class="brow">
                    <div class="slogan brick3 boffset1 transparent text-right">
                        <div class="inner">
                            <h1>Freshness tu mejor alternativa</h1>
                            <p>
                                Tu mejor elección en moda, descuentos y promociones <br>
                                las encontrarás en nuestra franquicia<br>
                                Pensamos por y para el cliente.
                            </p>
                        </div>

                    </div>
                    <div class="brick1 odd">
                        <a href="#services" class="nav-item">
                            <div class="nav-hover"></div>
                            <i class="li_bulb"></i>
                            <span>Servicios</span>
                        </a>
                    </div>
                    <div class="brick1 thumb">
                        <div class="nav-item flipX">
                            <img class="img1" src="~/Imagenes/Inicio/ava2.jpg" alt="">
                            <img class="img2" src="~/Imagenes/Inicio/blog2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="brow">
                    <div class="brick1 thumb">
                        <div class="nav-item flipX">
                            <img class="img1" src="~/Imagenes/Inicio/faldacortajeans.jpg" alt="">
                            <img class="img2" src="~/Imagenes/Inicio/pumahombre.jpg" alt="">
                        </div>
                    </div>
                    <div class="brick1 odd">
                        <a href="#portfolio" class="nav-item">
                            <div class="nav-hover"></div>
                            <i class="li_photo"></i>
                            <span>Productos</span>
                        </a>
                    </div>
                    <div class="brick1">
                        <a href="#about-us" class="nav-item">
                            <div class="nav-hover"></div>
                            <i class="li_bubble"></i>
                            <span>Acerca de nosotros</span>
                        </a>
                    </div>
                    <div class="brick1 thumb">
                        <div class="nav-item flipY">
                            <img class="img1" src="~/Imagenes/Inicio/niñassonriendo.jpg" alt="">
                            <img class="img2" src="~/Imagenes/Inicio/hobretsm.jpg" alt="">
                        </div>
                    </div>
                    <div class="brick1 thumb">
                        <div class="nav-item flipX">
                            <img class="img1" src="~/Imagenes/Inicio/sudafox.jpg" alt="">
                            <img class="img2" src="~/Imagenes/Inicio/niño.png" alt="">
                        </div>
                    </div>
                    <div class="brick1">
                        <a href="#blog" class="nav-item">
                            <div class="nav-hover"></div>
                            <i class="li_note"></i>
                            <span>Blog</span>
                        </a>
                    </div>
                </div>
                <div class="brow">
                    <div class="brick1 boffset2 thumb">
                        <div class="nav-item flipY">
                            <img class="img1" src="~/Imagenes/Inicio/sombref.jpg" alt="">
                            <img class="img2" src="~/Imagenes/Inicio/bluza2.jpg" alt="">
                        </div>
                    </div>
                    <div class="brick1 thumb">
                        <div class="nav-item flipY">
                            <img class="img1" src="~/Imagenes/Inicio/elite.jpg" alt="">
                            <img class="img2" src="~/Imagenes/Inicio/bralet.jpg" alt="">
                        </div>
                    </div>
                    <div class="brick1 odd">
                        <a href="#contact" class="nav-item">
                            <div class="nav-hover"></div>
                            <i class="li_paperplane"></i>
                            <span>Contáctanos</span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="container visible-phone">
                <div class="brick1 logo_container">
                    <a href="#" class="nav-item clearfix">
                        <div class="nav-hover"></div>
                        <h1 class="logo">Freshness</h1>
                    </a>
                </div>
                <div class="brick1 odd">
                    <a href="#services" class="nav-item">
                        <div class="nav-hover"></div>
                        <i class="li_bulb"></i>
                        <span>Servicios</span>
                    </a>
                </div>
                <div class="brick1 odd">
                    <a href="#portfolio" class="nav-item">
                        <div class="nav-hover"></div>
                        <i class="li_photo"></i>
                        <span>Productos</span>
                    </a>
                </div>
                <div class="brick1">
                    <a href="#about-us" class="nav-item">
                        <div class="nav-hover"></div>
                        <i class="li_bubble"></i>
                        <span>Acerca de nosotros</span>
                    </a>
                </div>
                <div class="brick1">
                    <a href="#blog" class="nav-item">
                        <div class="nav-hover"></div>
                        <i class="li_note"></i>
                        <span>Blog</span>
                    </a>
                </div>
                <div class="brick1 odd">
                    <a href="#contact" class="nav-item">
                        <div class="nav-hover"></div>
                        <i class="li_paperplane"></i>
                        <span>Contáctanos</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    
    <!--Inicio del menú-->
    <div id="navbar" class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="">
                            <a href="#services"><i class="li_bulb"></i>Servicios</a>
                        </li>
                        <li class="">
                            <a href="#portfolio"><i class="li_photo"></i>Productos</a>
                        </li>
                        <li class="">
                            <a href="#about-us"><i class="li_bubble"></i>Acerca de nosotros</a>
                        </li>
                        <li class="">
                            <a href="#blog"><i class="li_note"></i>Blog</a>
                        </li>
                        <li class="">
                            <a href="#contact"><i class="li_paperplane"></i>Contáctanos</a>
                        </li>
                        <li class="">
                            <a href=""><i class="li_user"></i>Iniciar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    <!-- fin del menu -->
    
    <!--Inicio de los servicios-->
    <div id="services" class="section">
        <div class="container">
            <div class="hero">
                <h1>Freshness es responsable, puntual &amp; atento con usted.</h1>
                <p>Esperemos le guste nuestro novedoso diseño</p>
            </div>
            <div class="brow sev_list">
                <div class="brick2">
                    <i class="li_pen"></i>
                    <h2>Avisos</h2>
                    <p>Mantendremos informados a toda la comunidad de los sucesos próximos de freshness.</p>
                </div>
                <div class="brick2">
                    <i class="li_lab"></i>
                    <h2>Mejoras</h2>
                    <p>A medida que transcurra el tiempo innovaremos nuestro diseño.</p>
                </div>
                <div class="brick2">
                    <i class="li_settings"></i>
                    <h2>Montaje</h2>
                    <p>Construiremos nuevas secciones para la satisfacción de todos los usuarios.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Fin de los servicios-->

</body>
</html>
